<!DOCTYPE html>
<html>
<head>
    <title>Create User</title>
</head>

<body>
<h2>Create User</h2>
</body>
</html>

Email:
<input type="text" name="email">

<br><br>

FirstName:
<input type="text" name="First Name">

<br><br>

LastName:
<input type="text" name="Last Name">

<br><br>


Password:
<input type="text" name="password">


<br><br>

Gender:
<input type="text" name="Gender">

<br><br>

Birth Date:
<input type="text" name="Birth Date">

<br><br>

<button type="Submit">Submit</button>

</form>

</body>
</html>
