<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="../static/CSS/style.css" th:href="@{CSS/style.css}">
    <link rel="stylesheet" href="../static/CSS/indexStyle.css" th:href="@{CSS/indexStyle.css}">
</head>
<body>
<main>
    <div class="container">
        <div class="loginBox">
            <div class="loginBoxHead">
                <h1>Login</h1>
            </div>
            <div class="loginBoxMain">
                <form class="loginForm" th:action="@{/tryLogin}" method="post">
                    <label for="emailField">Email:</label>
                    <input type="email" name="email" class="loginField" id="emailField" value="Fakemail@no.dk" placeholder="indtast: 'testEmail'" required>
                    <label for="passwordField">Password:</label>
                    <input type="password" name="password" class="loginField" id="passwordField" value="fakePassword" placeholder="indtast: 'testPassword" required><br>
                    <button  type="submit" class="btn">Submit</button>
                </form>
            </div>
            <div class="loginBoxFoot">
                <a type="button" th:href="@{/signUp}" class="btn" >Sign Up</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>