<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="../static/CSS/style.css" th:href="@{CSS/style.css}">
</head>
<body>
<div class="loginBox">
    <form class="loginForm" th:action="@{/}" method="post">
        <label for="emailField">Email:</label>
        <input type="email" name="email" class="loginField" id="emailField" placeholder="indtast: 'testEmail'" required>
        <label for="passwordField">Password:</label>
        <input type="password" name="password" class="loginField" id="passwordField" placeholder="indtast: 'testPassword" required>

        <button  type="submit" class="btn">Submit</button>
    </form>
</div>
</body>
</html>