<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="../static/CSS/style.css" th:href="@{CSS/style.css}">
</head>
<body>
<h1>Your Wishlists</h1>
<main>
    <form th:action="@{/saveCreateWishList}" method="post" class="modify-form">
        <input type="text" name="name" placeholder="Type name of the list" required>
        <button type="submit" class="btn">Make new Wishlist</button>
    </form>
    <ul>
        <li th:each="wl : ${wishlists}">
            <span th:text="${wl.name}"></span>

            <form th:action="@{/wishlist/action}" method="post">
                <input type="hidden" name="wishlistId" th:value="${wl.id}" />

                <select name="action" onchange="this.form.submit()">
                    <option value="">Edit</option>
                    <option value="rename">Rename</option>
                    <option value="delete">Delete</option>
                    <option value="share">Share</option>
                </select>
            </form>
        </li>
    </ul>
</main>
</body>
</html>